{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style-edit.css' %}"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/6b20b1c14d.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function InvalidPhone(textbox) {
        if (textbox.value == "") {
          textbox.setCustomValidity("Please enter your phone number");
        } else if (textbox.value.length == 10) {
          textbox.setCustomValidity("");
        } else if (textbox.value.length == 12) {
          textbox.setCustomValidity("");
        } else if (textbox.value.length == 13) {
          textbox.setCustomValidity("");
        } else {
          textbox.setCustomValidity("Please enter a valid phone number");
        }
        return true;
      }

      function InvalidEmail(textbox) {
        const re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (textbox.value == "") {
          textbox.setCustomValidity("Please enter your email address");
        } else if (re.test(String(textbox.value).toLowerCase())) {
          textbox.setCustomValidity("");
        } else {
          textbox.setCustomValidity("Please enter a valid email address");
        }
        return true;
      }
      var i = 0;
      function increment() {
        i += 1;
      }
      function addEmail() {
        var r = document.createElement("div");
        var z = document.createElement("i");
        var u = document.createElement("input");
        z.setAttribute("class", "fas fa-envelope icon-gradient");
        z.setAttribute("aria-hidden", "false");
        r.appendChild(z);

        u.setAttribute("type", "email");
        u.setAttribute("class", "type");
        u.setAttribute("name", "email");
        u.setAttribute("placeholder", "Add other email");
        u.setAttribute("oninvalid", "InvalidEmail(this);");
        u.setAttribute("oninput", "InvalidEmail(this);");
        r.appendChild(u);

        increment();
        r.setAttribute("id", "id_" + i);
        r.setAttribute(
          "style",
          "\
              display: flex;\
              width: 90%;\
              margin: 0 auto;\
              padding: 0.5em 2em;\
              margin-top: 1em;\
              border-radius: 20px;\
              box-shadow: inset 6px 6px 12px #2d2f33,\
                inset -6px -6px 12px #35393d;\
            "
        );
        document.getElementById("cyazeemail").appendChild(r);
      }

      function removeElement(parentDiv, childDiv) {
        if (childDiv == parentDiv) {
          alert("The parent div cannot be removed.");
        } else if (document.getElementById(childDiv)) {
          var child = document.getElementById(childDiv);
          var parent = document.getElementById(parentDiv);
          parent.removeChild(child);
        } else {
          alert("Child div has already been removed or does not exist.");
          return false;
        }
      }

      function addPhone() {
        var r = document.createElement("div");
        var z = document.createElement("i");
        var u = document.createElement("input");
        z.setAttribute("class", "fas fa-phone icon-gradient");
        z.setAttribute("aria-hidden", "false");
        r.appendChild(z);

        u.setAttribute("type", "text");
        u.setAttribute("class", "type");
        u.setAttribute("name", "phone-number");
        u.setAttribute("placeholder", "Add other phone");
        u.setAttribute("oninvalid", "InvalidPhone(this);");
        u.setAttribute("oninput", "InvalidPhone(this);");
        r.appendChild(u);

        increment();
        r.setAttribute("id", "id_" + i);
        r.setAttribute(
          "style",
          "\
              display: flex;\
              width: 90%;\
              margin: 0 auto;\
              padding: 0.5em 2em;\
              margin-top: 1em;\
              border-radius: 20px;\
              box-shadow: inset 6px 6px 12px #2d2f33,\
                inset -6px -6px 12px #35393d;\
            "
        );
        document.getElementById("cyazephone").appendChild(r);
      }
    </script>

    <title>New Contact</title>
  </head>

  <body>
    <div class="container">
      <header class="hero">
        <a href="{% url 'index' %}">
          <i class="fas fa-chevron-circle-left back-btn"></i>
        </a>

        <div class="hero-info">
          <h1 class="name">New Contact</h1>
        </div>
      </header>

      <form action="" method="POST">
        {% csrf_token %}

        <section class="contact-info">
          <div class="info-line">
            <i class="fas fa-user icon-gradient"></i>
            <input
              required
              type="text"
              class="type"
              name="first-name"
              placeholder="First Name"
            />
          </div>

          <div class="info-line">
            <i class="fas fa-user icon-gradient"></i>
            <input
              type="text"
              class="type"
              name="last-name"
              placeholder="Last Name"
            />
          </div>

          <div class="info-line">
            <i class="fas fa-phone icon-gradient"></i>
            <input
              required
              type="text"
              class="type"
              name="phone-number"
              placeholder="Phone Number"
              oninvalid="InvalidPhone(this);"
              oninput="InvalidPhone(this);"
            />
          </div>
          <form action="#" method="get">
            <span id="cyazephone"></span>
          </form>

          <div class="info-line">
            <a href="{% url 'add-contact'  %}"
              ><i class="fas fa-plus add"></i
            ></a>
            <input
              type="text"
              class="type"
              name="phone-number"
              placeholder="Add Phone Number"
              onclick="addPhone()"
            />
          </div>

          <div class="info-line">
            <i class="fas fa-envelope icon-gradient location"></i>
            <input
              required
              type="email"
              class="type"
              name="email"
              placeholder="Email"
              oninvalid="InvalidEmail(this);"
              oninput="InvalidEmail(this);"
            />
          </div>

          <form action="#" method="get">
            <span id="cyazeemail"></span>
          </form>

          <div class="info-line">
            <a href="{% url 'add-contact'  %}"
              ><i class="fas fa-plus add"></i
            ></a>
            <input
              type="email"
              class="type"
              name="email"
              placeholder="Add email"
              onclick="addEmail()"
            />
          </div>
        </section>

        <section class="button-container">
          <div class="update-contact">
            <i id="save" class="fas fa-check-circle icon-gradient"></i>
            <button type=" submit" class="button">Save Contact</button>
          </div>
        </section>
      </form>
      <section class="button-container">
        <div class="update-contact">
          <a href="{% url 'index' %}">
            <i class="fas fa-times-circle cancel-icon"></i>
            <button type=" submit" class="cancel-button">Cancel</button>
          </a>
        </div>
      </section>
    </div>
  </body>
</html>
